<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script> -->

{{/* 处理并添加指纹到 APlayer.min.css */}}
{{ $aPlayerCSS := resources.Get "scss/APlayer.min.css"}}
<link rel="stylesheet" href="{{ $aPlayerCSS.RelPermalink }}">

{{/* 处理并添加指纹到 Meting.min.js */}}
{{ $metingJS := resources.Get "js/Meting.min.js" }}
<script src="{{ $metingJS.RelPermalink }}"></script>

{{/* 处理并添加指纹到 APlayer.min.js */}}
{{ $aPlayerJS := resources.Get "js/APlayer.min.js" }}
<script src="{{ $aPlayerJS.RelPermalink }}"></script>

<style>
    .aplayer.aplayer-fixed,
    .aplayer-body {
        bottom: 200px !important;
    }
</style>

<meting-js server="netease" type="playlist" id="8264385659" class="meting-js" fixed="true" autoplay="true"
    preload="auto" loop="all" mutex="true" order="random" />

<script>
    ap = null
    Object.defineProperty(document.querySelector('meting-js'), "aplayer", {
        set: function(aplayer) {
            ap = aplayer
            ready()
        }
    })
    isRecover = false
    function ready() {
        ap.on('canplay', function() {
            if(!isRecover) {
                if(sessionStorage.getItem("musicIndex") != null) {
                    musicIndex = sessionStorage.getItem("musicIndex")
                    musicTime = sessionStorage.getItem("musicTime")
                    if(ap.list.index != musicIndex) {
                        ap.list.switch(musicIndex)
                    } else {
                        ap.seek(musicTime)
                        ap.play()
                        sessionStorage.clear()
                        isRecover = true
                    }
                } else {
                    ap.play()
                    isRecover = true
                }
            }
        })
    }
    window.onbeforeunload = function(event) {
        if(!ap.audio.paused) {
            musicIndex = ap.list.index
            musicTime = ap.audio.currentTime
            sessionStorage.setItem("musicIndex", musicIndex)
            sessionStorage.setItem("musicTime", musicTime)
        }
    };
</script>