{{ partial "footer/custom/topbar.html" .}} {{ partial
"footer/custom/aplayer.html" . }} {{ partial "footer/custom/metingJs.html" . }}
{{ partial "footer/custom/pjax.html" . }} {{ partial
"footer/custom/giscusPjax.html" . }}

<!-- background -->
<!-- {{ partial "footer/background/sakura.html" . }} -->
{{ partial "footer/background/particles.html" . }}

<!-- font -->
{{ partial "footer/fonts/index.html" . }}

<!-- 文章目录折叠 -->
{{ partial "footer/toc/index.html" . }}

<!--  -->
<!-- {{ partial "footer/ani-cursor/index.html" .}} -->

<!--  -->
{{ partial "footer/custom/draggable.html" . }}
